*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#score{
  text-align: center;
  margin-top: 20px;
}

#main{
  position: relative;
  width: 1000px;
  height: 640px;
  background-color: rgb(207, 205, 210);
  border: 1px solid black;
  margin: 10px auto;
}

.item{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.good{
  background-color: red;
}

.bad{
  background-color: brown;
}

#submitter{
  width: 200px;
  margin: 100px auto;
  background-color: rgb(162, 154, 156);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  display: none;
}

#sb_submit{
  margin: 15px;

}
